 <%# any result that is going to be presented in a list %>
  <% if !props.fetch(:full,false) %>
   <div class="recordrow" style="clear:both" data-uri="<%= result.uri %>">
     <% end %>
  <% if result['json']['representative_file_version'].present? %>
    <div class="flex align-items-start">

      <%
        max_cap_chars = 40
        caption = result['json']['representative_file_version']['caption']
        unless caption.blank?
          caption = caption.length > max_cap_chars ? caption.split('').first(max_cap_chars).join('') + '...' : caption
        end
      %>

      <%= render partial: 'shared/representative_file_version', locals: {
        :uri => result['json']['representative_file_version']['file_uri'],
        :caption => caption,
        :figure_class => 'result-repfv__figure',
        :a_class => 'result-repfv__a',
        :img_class => 'result-repfv__img',
        :figcaption_class => 'result-repfv__figcaption'
      } %>
      <div>
        <%= render partial: 'shared/idbadge', locals: {:result => result, :props => props } %>  
        <%= render partial: 'shared/result_record_summary', locals: {:result => result, :props => props } %>
      </div>
    </div>
  <% else %>
    <%= render partial: 'shared/idbadge', locals: {:result => result, :props => props } %>
    <%= render partial: 'shared/result_record_summary', locals: {:result => result, :props => props } %>
  <% end %>

<% if !props.fetch(:full,false) %>
   </div>
<% end %>
